{% extends "base.html" %}
{% block content %}
    <a href="#" id="upvote_question">upvote</a><br/>
    {{question.title}}<br/>
    {% include "user_block.html" with user=question.user %}
    <br/>
    {{question.text}}<br/>
    {{question.total_points}}<br/>
    {{question.updated}}<br/>
    <form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="submit" />
    </form>
    {% for answer in question.answers.all %}
        <hr/>
        <a href="#" id="upvote_answer" pk="{{answer.pk}}">upvote</a><br/>
        {{answer.text}}<br>
        {{answer.created}}<br>
        {{ answer.created|date:"D d M Y" }}<br>
        {{answer.total_points}}<br>
    {% endfor %}
    <script type="text/javascript">
        $('#upvote_question').click(function() { 
            var csrftoken = $.cookie('csrftoken');
            $.post("/ajax/forum/upvote_question.json", 
                { 
                    question_pk: "{{question.pk}}",
                    csrfmiddlewaretoken: csrftoken
                });
        });
        $('#upvote_answer').click(function() { 
            var csrftoken = $.cookie('csrftoken');
            var pk = $(this).attr('pk')
            $.post("/ajax/forum/upvote_answer.json", 
                { 
                    answer_pk: pk,
                    csrfmiddlewaretoken: csrftoken
                });
        });
    </script>
{% endblock %}
