<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}QA Forum{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap-combined.min.css" rel="stylesheet"></link>
    <script src="{{ STATIC_URL }}js/jquery-1.9.0.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">QA Forum</a>
    <ul class="nav">
        <li><a href="{% url forum.views.submit_question %}">Submit</a></li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav pull-right">
      <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
    </ul>
    {% else %}
    <ul class="nav pull-right">
      <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
    </ul>
    {% endif %}

  </div>
</div>
    <div id="content" class="container">
		
        {% block content %}{% endblock %}
		
    </div>
</body>
</html>
